/* STEP5 : CORRESPOND TO HTML TAGS */

body {

/* STEP6 : DEFINING PROPERTIES */
	background: #f6f0d8;
/* STEP6.2 : BACKGROUND IMAGE */
	background-image:  url(http://fc01.deviantart.net/fs30/f/2008/148/c/3/Wood_floor_by_gnrbishop.jpg);
	background-repeat: repeat;

/* STEP8 : SETTING TYPEFACE PROPERTIES */
	font-family:'Open Sans';
	font-size: 22px;
	color:white;
}

/* STEP9 : CORRESPOND TO ID */
#board {
}

/* STEP10 : CORRESPOND TO CLASS */

.postit {
	background: #FFFFE0;

	/* STEP11 : EVERYTHING IS A BOX */
	width: 200px;
	height: 200px;

	/* STEP12 : EVERYTHING HAS SPATIAL PROPERTIES */
	margin:20px;
	padding:12px;

	/* STEP13 : INSIDE THE FLOW, OUTSIDE THE FLOW*/
	float:left;

	/* STEP14 : FANCY CSS3 PROPERTIES KILL PHOTOSHOP */
	box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
}


/* STEP16 : PSEUDO-CLASSES */
#board div.postit:hover{
	/* STEP16 : STYLES FOR STATE */
	background-color: #e24b3b;
	box-shadow:10px 10px 7px rgba(0,0,0,.7); 

	/* STEP17 : ADDITIONAL ENTROPY BY DISPLACING THE POST-ITS */
	position:relative;
	top:0px;

	/* STEP20 : BROWSER PRE-FIXES + TRANSFORM  */
	-webkit-transform:rotate(0deg);  
	-webkit-transform: scale(1.25);  
	
	/* STEP21 : DON'T MOVE ANYONE ELSE!*/
	z-index:5;

	/* STEP22 : TRANSITION GRACEFULLY */
	transition: 0.2s all;
}

/* STEP18 : PSEUDO-SELECTORS */
#board div:nth-child(even){  
  position:relative;  
  top:5	px;
  
  /* STEP19 : SCATTERED ROTATION PATTERNS!*/
  -webkit-transform:rotate(4deg);  
}

#board div:nth-child(3n){  
  position:relative;  
  top:-5px;  
  -webkit-transform:rotate(-3deg);  
}  

#board div:nth-child(5n){  
  position:relative;  
  top:-10px;  
  -webkit-transform:rotate(5deg);  
} 