/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    background-color: #373738;
}

body {
    font-size: 1em;
    line-height: 1.4;
    color:white;
     background-color: #373738;
     font-family: 'Flamenco', cursive;   
     
}

article{
    font-family: arial;
    font-size: 12px;
    padding: 30px;
    text-align: center;
    color: black;
}
header {
    background-color: #373738;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%

}

header p {
  float: left;
  margin-left: 20%;
}
a {
  text-decoration: none;
  color: white;
}

h1 {
   font-family: 'Flamenco', cursive;
    font-size: 100px;
    margin-left: 5%;
    margin-top: 0px;
    position: fixed;
}

h3 {
    margin-left: 10%;
    font-size: 15px;
    font-family: arial;   
}

h4 {

  font-size: 12px;
  margin-left: 10%
}



#home {
height: 600px;
background-image:url('../images/tram.jpg');
background-repeat: no-repeat;
background-size: cover;

}
#home-container {
margin-top: 65px;
}



#home h2 {
     font-family: 'Flamenco', cursive;
     font-size: 20px;
     position: fixed;
     margin-left:40%;
     }

#home h3 {
    color: black;
     font-family: 'Flamenco', cursive;
     font-size: 28px;
     position: fixed;
     margin-left:45%;
      margin-top: 40%;
      background-color: gray;
}

#middle h3{
font-family: 'Noto Sans', sans-serif;
margin-right: 7%;
 font-size: 14px; 

}

#bottom{
 
}

#bottom {
  overflow-x: scroll;
}

#panels {
  width: 7990px;
}

.panel {
  width: 700px;
  height: 500px;
  float: left;
  padding: 10px;

}

.panel img {


}

.panel h4 {
  position: relative;
  margin-top: -5%;
  margin-left: 10%;
  font-size: 15px;

}

.panel p {
  position: relative;
  margin-left: 10%;
  margin-top: -5px;
  font-size: 15px;

}



#map{
  height: 200px;
  width: 100%;
  background-image: url('../images/map.png');
  position: relative;
  font-family: 'Noto Sans', sans-serif;



}

#map h4{
  color: black;
font-family: 'Noto Sans', sans-serif;



}

.west{
position: absolute;

  margin-left: 120px;
  background-color: gray;

}
.central{
  position: absolute;
  margin-top: 50px;
  margin-left: 370px;
  background-color: gray;
}
.wanchai{
  position: absolute;
  margin-top: 75px;
  margin-left: 570px;
  background-color: gray;
}
.quarry{
  position: absolute;
  margin-top: 10px;
  margin-left: 900px;
  background-color: gray;
}
.east{
    position: absolute;
  margin-top: 50px;
  margin-left: 1080px;
background-color: gray;
}

#map-container{

  position: fixed;

}


footer {
    background-color: #373738;
    height: 25px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */




hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
