/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


body{
     background-color: rgb(180, 180, 180)
}

#container{
     margin:0px auto;
     width:960px;
     height:100%;
}

header{
     width: auto;
     height: 170px;
     background-color: red;
     padding: 20px;
     background-image: url("../images/background.jpg");
     background-repeat: repeat;
     margin-bottom: 110px;
}


h1.logoReplace {
     display: inline-block;
     text-indent: -3000px;
     font: 0/0 Arial;
     overflow: hidden;
     color: rgba(255,255,255,0);
     width: 213px;
     height: 216px;
     background: url("../images/logo.png");
     margin: 0px 0px 0px 550px; /* This is cheating! It only works on your screen size :P */
}


h1.logoReplace:hover {
     /* This is sooo awesome! Did you figure this out yourself? */ 
     -webkit-filter: invert(100%);
     -webkit-transform: rotate(1080deg) rotateY(0);
     -webkit-transition: all 1.5s;
     -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}



main{
     width: 640px;
     height: 100%;
     background-color: white;
     float:left;
     padding:20px;
}

article{   
   /*  width: 576px;
     height: 500px;
     background-color: orange;*/
}

img.ecard { 
     background: url("./images/social-icon-twitter.png") 
     0 0 no-repeat; 
     opacity:1.0;
     filter:alpha(opacity=40); /* For IE8 and earlier */
     /* These are the wrong way around :) The IE8 hacks; */
}

img.ecard:hover{
        /* HOVER ON */
     opacity:0.5;
     -webkit-transition: all 0.5s;
     filter:alpha(opacity=100); /* For IE8 and earlier */
}


a{
     color: red;
     text-decoration: none;
}

a:hover{
     color: red;
     text-decoration: none;
     font-weight:bold;
}

h3{
     font-size: 1.2em;
     margin: 2em 0em 1em 0em;
}


p.one{ /* What does óne' mean ? */
    width: 600px;
     padding: 10px 0px 10px 10px;
     border-top: solid gray 2px;
     border-bottom: solid gray 2px;
}

nav{   
     background-color: white;
     width: 300px;
     height: 100%;
     padding: 20px;
     margin-left: 660px;

}

li.link:hover{ /* Cool */
     color: red;
     text-decoration: none;
     font-weight:bold;
}


img.links{
     margin:5px 0px 5px 20px;
     clear:both;
     opacity:1.0;
     filter:alpha(opacity=40); /* For IE8 and earlier */
}

img.links:hover{
     /* HOVER ON */
     opacity:0.5;
     -webkit-transition: all 0.5s;
     filter:alpha(opacity=100); /* For IE8 and earlier */
}



footer{
     position: relative;
     height: 120px;
     width: 960px;
     clear: both;
}

#social-icons { 
     margin: 0px 380px;
     padding: 40px 0px 40px 0px;
}

#social-icons a { 
     display: inline;
     height: 32px;
     width: 32px;
     margin: 5px;
}



/*is there a way to combine this code so that im not repeating myself three times?
*/

/* Yes, 

img.twitter:hover, img.pinterest:hover, img.facebook:hover { ... }*/
img.twitter { 
     background: url("./images/social-icon-twitter.png") 
     0 0 no-repeat; }

img.twitter:hover{
        /* HOVER ON */
     -webkit-filter: invert(100%);
     -webkit-transform: rotate(720deg) rotateY(0);
     -webkit-transition: all 0.5s;
     -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}


img.pinterest { 
     background: url("./images/social-icon-pinterest.png") 
     0 0 no-repeat; }

img.pinterest:hover{
     /* HOVER ON */
     -webkit-filter: invert(100%);
     -webkit-transform: rotate(720deg) rotateY(0);
     -webkit-transition: all 0.5s;
     -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}



img.facebook { 
     background: url("./images/social-icon-facebook.png") 
     0 0 no-repeat;  
}


img.facebook:hover{
     /* HOVER ON */
     -webkit-filter: invert(100%);
     -webkit-transform: rotate(720deg) rotateY(0);
     -webkit-transition: all 0.5s;
     -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}
 
 





