/** HEADER **/

header {
	width: 80%;
	margin: 0 auto;
}

.logo {
	height: 150px;
	width: 150px;
	background: url("http://placehold.it/150x150");
	margin: 0 auto;
	margin-top: 30px;
}

.navbar {
	text-align: center;
}

.navbar li {
	display: inline;
	margin-right: 1em;
}

.logo h1 {
	text-indent: -9999px;
} /** image replacement **/

/** BODY **/
body {
	background-color: pink;
	opacity: 0.5;
	background: url("images/tweed.png");
}