.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}

.hex .top {
width: 0;
/*border-top: 30px solid #C66;*/
border-bottom: 30px solid #6C6;
border-left: 52px solid transparent;
border-right: 52px solid transparent;
}

.hex .middle {
  width: 104px;
height: 60px;
background-color: #6C6;
}

.hex .bottom {
width: 0;
border-top: 30px solid #6C6;
border-left: 52px solid transparent;
border-right: 52px solid transparent;
}

.hex-row {
  clear:left;
}

.hex-row.even {
  margin-left: 53px;
}