/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

a {
     text-decoration: none;
     color: red;
     font-weight: bold;
}

.clear {
	clear: both;
}

h1 {
     font-size: 20px;
     text-decoration: bold;
     text-align: center;
}

h1.img-rep {
     text-align: center;
     width: 216px ; height: 216px;
     background: url('../images/logo.png') no-repeat;
     margin: 0 auto;
     margin-top: -180px;
     margin-bottom: 20px;
}

h1.img-rep span {
     display: block;
     width: 0;
     height: 0;
     overflow: hidden;
}

h2 {
     font-size: 20px;
     text-decoration: bold;
}

ul {
     list-style: none;
     font-weight: bold;
     line-height: 2em;
     text-indent: -15px; /* Use left-margin for this */
}

body {

     background-color: #d0d0d0;
     font-size: 12px

}

header {
     background: url('../images/background.jpg');
     height: 162px;
}

#container {
     width: 960px;
     margin: 30px auto;

}

main {
     background-color: white;
     width: 640px;
     margin: 10px;
     padding: 20px;
     float: left;
}

.post {
     line-height: 1.8em;
}

.post-footer {
     
     border-top: 1px dotted black;
     border-bottom: 2px solid black;
     margin-bottom: 50px;
}

#rightbar {
     background-color: white;
     width: 280px;
     margin: 10px;
     padding: 20px 0px 40px;
     float: left;
     font-style: bold;
     font-size: 12px;
}

.ad {
     width: 100%
     margin: 10px 0px; /* Use Syntax Highlighting */
     padding: 10px 25px;
}

footer {
     width: 100%;
     text-align: center; 
     margin: 30px auto;

}

a.download {
     text-transform: uppercase;
}
