/* 

Style Hints: 

Body Font Size = 12px
	 Line-height: 1.6; 
	 Font Family = "Times New Roman", serif
	 Font Color = #656565
	 Background: #F3EBE9

H1 Font Size = 40px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   Font Color = #999999

Link Hover Color = #20222a

*/
