/* --------------------------------------------------
  Shake your "BODY" - Jackson 5
   --------------------------------------------------  */

body{
  background-color: rgba(0,0,0,0.25);
  margin: 0 auto;
  width: 100%;
  font-family: Helvetica, sans-serif;
}

header{
  background-image: url('../images/background.jpg');
  height: 162px;
}

#logo {
  height: 213px;
  width: 216px;
  margin: 20px 45%;
  text-indent: -9999px;
}

section{
  background-color: #fff;
  border-radius: 10px;
  float: left;
}

#content{
  display:block;
  margin: 60px auto;
  width: 940px;
}

/* -----------------------------------------------
  I'm your "NAV"igator I'm your "NAV"igator - Foo Fighters
   --------------------------------------------------  */
nav {
  background-color: #fff;
  border-radius: 10px;
  float: right;
  width: 280px;
}

nav a{
  background-color: orange;
  text-decoration: none;
  color: black;
  border-radius: 6px;
  font-size: 20px;
  height: 30px;
  width: 40px
}

nav a:hover{
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background-color: rgba(0,0,0,1);
  color: white;
  border-radius: 6px;
  height: 30px;
  width: 40px;
}
nav img{
  margin: 0 30px;
}

 /*--------------------------------------------------
  I pity  the fool who believes this is a real "ARTICLE"!... - Mr.T
   --------------------------------------------------  */

section{
  width: 640px;
}

section img{
  margin: 0 20px;
}

section a {
  color: #cc6633;
  text-decoration: none;
}

section span:after{
  display:block;
  margin-bottom: 12px;
}

section p, h2 {
  display: block;
  margin: 0 20px;
}


/* --------------------------------------------------
  I pity  the fool who believes this is a real "ARTICLE"!... - Mr.T
   --------------------------------------------------  */

article#a2{
  display:none;
}


/* --------------------------------------------------
  get on the good "FOOTER" - James Brown
   --------------------------------------------------  */
footer{
  /*background-color: red;*/
  margin: 0 auto;
  width: 960px;
}

footer li, p, h2{
  display: inline;
  list-style: none;
}

footer li img {
  margin: 100px auto 0px;
}*/




/* -------------------------------- 
  Border box stuff...
   -------------------------------- */


/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



