@import url(http://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(http://fonts.googleapis.com/css?family=Mystery+Quest);

#content
{
  width: 400px;
  margin: 0px auto;
}

#header
{
  margin-bottom: 20px;
}

#title
{
  font-family: 'Londrina Shadow', cursive;
  font-size: 100px;
}

#timer
{
  font-family: 'Mystery Quest', cursive;
  font-size: 20px;
}

#controls
{
  margin-bottom: 10px;
}

.row
{
  clear: both;
}

.column
{
  text-align: center;
  vertical-align: middle;
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
  border: 1px solid #595139;
  margin: 5px;
  width: 50px;
  height: 65px;
  float: left;
}

.hover
{
  background-color: #A6977B;
}

.found
{
  background-color: #595139;
  color: #FFFFFF;
}

.won
{
  background-color: #F2F0CE;
  color: #83A603;
  border: 1px solid #83A603;
}

