/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

h1{

}


body {  
     background-color: #d6d6d6;
     font-color: #000000;
     font-size: 12px;
     line-height: 150%;
     font-family: 'helvetica neue', arial, sans-serif;
}

a:link {color:#cc6633; font-weight:bold; text-decoration: none;}     
a:visited {color:#cc6633; font-weight:bold; text-decoration: none;}  
a:hover {color:#BBBBBB; font-weight:bold; text-decoration: none;}  
a:active {color:#121212; font-weight:bold; text-decoration: none;}  


header{    
     background-image: url('../images/background.jpg');
     /*margin-top: 0px 0 200px 0;*/
     height: 162px;
     margin:-20px 0 120px 0;
}

h1{    
     /*margin: 50px 0 120px 0;*/
     padding: 25px;
     text-align: center;
}

h2{
     font-size: 20px
}

ul {
     list-style: none;
     font-weight: bold;
     margin: 0 0 20px -20px;
}

li a:link {color:#000; text-decoration: none;}     
li a:visited {color:#000; text-decoration: none;}  
li a:hover {color:#000; text-decoration: none;}  
li a:active {color:#000; text-decoration: none;}  

li img {margin:0 0 10px 0;}


#wrapper {
     /*background-color: white;*/
     background-color: #d6d6d6;
     display: block;
     width: 940px;
     height: 700px;
     margin: 0 auto;

}

#main{
     background-color: white;
     margin: 0 10px 0 0;
     padding: 20px;
     width: 640px;
     height: auto;
     float: left;
     display: block;
}

#sidebar{
     background-color: white;
     margin: 0 0 0 10px;
     padding: 20px 20px 20px 0px;
     width: 280px;
     height: auto;
     float: left;
     display: block;
}

hr.dotted{
     background-color:#fff;
     border:#000 1px dotted;
     border-style: none none dotted;
     color:#fff;
}

.info{
     padding-left: 5px;
}

footer {
     margin: 20px 0 40px 0;
     text-align: center;
}


