/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*----------------------------------------------------------------------------- 
BODY 
-----------------------------------------------------------------------------*/


body {
  background: url('../images/background.jpg') repeat-x #d6d6d6; /* add a fallback color of #d6d6d6 */
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7; /* line-height is unit-less */
  font-size: 12px;
}

a {
  color: #ff3300;
  text-decoration: none;
  font-weight: bold;
}

/* Put the image on the <a> and not the <h1> itself so that the link works properly */
h1 a {
  background: url('../images/logo.png') no-repeat;
  width: 216px;
  height: 213px;
  margin: auto;
  display: block; 

  /* image replacment technique */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

h2 a {
  text-decoration: none;
  color: #000000;
}

p {
  line-height: 1.2;
}

/*----------------------------------------------------------------------------- 
MAIN SECTIONS
-----------------------------------------------------------------------------*/

/* Center the container */
#container {
  width: 950px;
  margin: 0 auto; 
}

#header {
  margin-bottom: 40px;
}

#main {
  background: #FFF;
  float: left;
  width: 640px;
  padding: 20px;
}

.post {
  margin-bottom: 50px;
}