/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig 
Developed @ General Assembly in NYC

*/

body {
	/* set up a background image */
	
	
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

ul {
	display: block;
	list-style-type: none;
}

ul li {
	display: inline-block;
	text-decoration: none;
/*	width: 100px;*/
/*	height: 30px;*/
	background-color: pink;
	padding: 10px;
	float: right;
}

img {
	float: right;
}

#facts {
	width:500px;
	float: right;
	background-color: pink;
	padding: 20px;
}