/** global/body **/
body {
	font-family: Arial, sans-serif;
	font-size: 12px;
/*	background-image: url('../images/bg_body.jpg');*/
	background: linear-gradient(180deg, #EFEFEF, #D7D7D7);
	background-size: 100% 438px;
	background-repeat: no-repeat;
	background-color: #EFEFEF;
}

/*header {

	height: 488px;
}*/

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#container {
	width: 960px;
	margin: 20px auto;
}

h3 {
	font-size: 20px;
	padding: 10px 0;
}

h4 {
	font-size: 16px;
	color: white;
}
/*** nav ***/

nav {
	width: 100%;
	height: 50px;
	background-color: black;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	display: block;
	text-decoration: none;
	margin-left: 80px;
}

li {
	float: left;
	line-height: 50px;
	margin: 0 20px;
}

li a {
	text-decoration: none;
	color: white;
}

/** logo & social **/
#logo {
	width: 285px;
	height: 50px;
	margin: 20px;
	margin-left: -10px;
	float: left;
}

.social-media {
	background-image: url('../images/socialNav.png');
	width: 62px;
	height: 62px;
}

li.social-media {
	float: right;
	margin: 0 0 0 0;
} 

#linkedin {
	background-position: 0px -62px;
}

#linkedin:hover {
	background-position: 0 0;
}

#twitter {
	background-position: -62px -62px;
}

#twitter:hover {
	background-position: -62px 0;
}

#facebook {
	background-position: -121px -62px;
}

#facebook:hover {
	background-position: -121px 0;
}

#rss {
	background-position: -180px -62px;
}

#rss:hover {
	background-position: -180px 0;
}

li.social-media a {
	display: none;
} /*** correct image replacement technique? I made this up. **/

/** blurb **/

#blurb {
	width: 950px;
	height: 80px;
	border: 1px inset white;
}

#blurbcontent {
	width: 650px;
	height: 30px;
	margin: none;
	padding: 30px;
	float: left;
}

#blurb img {
	float: right;
	padding: 15px;
}

/** homebox **/
.home-box {
	width: 320px;
	float: left;
}

.home-box img {
	border: 5px solid #DBDBDB;
	margin: 10px 0;
}

p.home-box-blurb {
	margin-right: 30px;
	padding: 10px 0;
} 

.home-box a {
	text-decoration: none;
	color: #408DE1;
	padding-bottom: 30px;
}

/** footer **/

footer {
	width: 100%;
	background-color: black;
}

#bottom-container {
	width: 960px;
	margin: 0 auto;
}

.home-box h4 {
padding: 50px 0px 20px 0px;
border-bottom: 1px solid gray;
margin-right: 30px;

}

.home-box p {
	padding-top: 10px;
	color: gray;
}

.home-box ul {
	margin-left: -20px;
	color: gray;
}

.home-box ul li {
	float: none;
	color: gray;
	border-bottom: 1px solid gray;
	line-height: 30px;
}

.home-box ul li a {
	color: gray;
}

#bottom-container .home-box {
	width: 220px;
}

#bottom-container .home-box:nth-child(2){
	width: 420px;
}

.home-box ul {
	margin-left: none;
}


