
body {
	background: #f6f0d8;
	font-family:'Open Sans';
	font-size: 24px;
	color:white;
}

.board {

}

.postit {
	background-image: url(paper.png);
	background: #a93629;
	float:left;
	width: 200px;
	height: 200px;
	margin:20px;
	padding:12px;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
}

.board div.postit:hover{
	-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  	-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
  	box-shadow:10px 10px 7px rgba(0,0,0,.7); 
	background-color: #e24b3b;
	-o-transform:rotate(0deg);  
	-webkit-transform:rotate(0deg);  
	-moz-transform:rotate(0deg);  
	position:relative;
	top:0px;
	-webkit-transform: scale(1.25);  
	-moz-transform: scale(1.25);  
	-o-transform: scale(1.25);  
	position:relative;  
	z-index:5;
	transition: 0.2s all;
}

.board div:nth-child(even){  
  -o-transform:rotate(4deg);  
  -webkit-transform:rotate(4deg);  
  -moz-transform:rotate(8deg);  
  position:relative;  
  top:5px;  
}  
.board div:nth-child(3n){  
  -o-transform:rotate(-3deg);  
  -webkit-transform:rotate(-3deg);  
  -moz-transform:rotate(-3deg);  
  position:relative;  
  top:-5px;  
}  

.board div:nth-child(5n){  
  -o-transform:rotate(5deg);  
  -webkit-transform:rotate(5deg);  
  -moz-transform:rotate(5deg);  
  position:relative;  
  top:-10px;  
} 