/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/


/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

header { /* wouldn use this element if thereś no actual content (just background image)*/
     height: 162px;
     background: url('../images/background.jpg');
     padding-top: 20px;
}
body {
     text-color: #000000; /* text colour is just color */
     background-color: #d6d6d6;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

a:link {color: #cc6633; /* link is somewhat default, you'd want to style a:hover. a:active to get fancy*/
}

h1.logo {
     width: 216px;
     height: 213px;
     background: url('../images/logo.png');
     text-indent: 100%; 
     white-space: nowrap;
     overflow: hidden;
     margin: auto;
     margin-top: 0px;
}

H2 { /* Should be h2 */
     font-size: 20px;
     font-weight: bold;
}

#container {
     width: 940px;
     margin: auto;
}

#main {
     width: 640px;
     background-color: white;
     margin: auto; /*Doesn have any effect*/
     margin-top: 100px;
     float: left;
     padding: 20px;
}

hr.dottedline { /* Cool */
    border: 0; 
    border-bottom: 1px dashed #ccc;
    background: #999;
 }

aside {
     background-color: white;
     width: 280px;
     float: right;
     margin-top: 100px; /* Could have set this on the container parent */
     padding: 20px;
     font-weight: bold;
}

ul {
     list-style-type: none;
}

li {
     text-indent: -40px; /* Instead of using the text-indent on li,
                              remove the padding-left on ul */
}

#socialmedia {
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
}