/* General Styles */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: black; 
	line-height: 1.25;
	background-color: LightGray;
}
header {
	padding: 10px 40px;
	background: url('../images/background-at-top.png');
	height: 80px;
}

.topimage {
 float:left;
 margin-top: 20px;
 margin-left: 430px}

#menu {
	width: 400px;
	padding-right: 50px;
	float:right;
	background-color: white;
}
#container {
	margin-left: 30px;
	width: 590px;
	background-color: white;
}

footer {
	padding: 80px;
	margin: 0 auto;
}

h1,h2,h3,h4, ul, ol {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black; 
	text-align: left;
}
p {
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black; 
	text-align: left;}
a {
	color: #ccc;
	text-decoration: none;
}
	a:visited, a:hover, a:active {
		color: #000;
	}

img.frame {
	padding: 10px;
	background: #fcfcfc;
}

img.frame:hover {
	padding: 10px;
	background: #fcfcfc;
	border: 1px 1px 40px #bbb;
}

.line {
	margin: 25px 0;
	border-bottom: 1px #CCC solid;
}

.box {
	width: 100px;
	height: 100px;
	background: blue;
	margin: 2px;
	float: left;





