 o/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     background: url("../images/background.jpg") repeat-x #d6d6d6;
}

/** body **/
h1, h2, h3, h4, h5, h6, p {
     font-family: Helvetica, Arial, sans-serif;
}

h1 a {
     background: url('../images/logo.png') no-repeat;
     width: 216px;
     height: 213px;
     margin: auto;
     display: block;

     text-indent: 100%;
     white-space: nowrap;
     overflow: hidden;
}

h2 {
     font-size:20px;
     margin: 10px 0;
}

h2 a {
     text-decoration: none;
     color: #000000;
}

p {
     line-height: 1.5;
     margin-bottom: 0;
     font-size: 13px;
     border-bottom-style: dotted;
     border-width: 1px;
     padding-bottom: 15px;
}

.post-info p {
     border-bottom-style: solid;
     border-width: 1px;
}

p a {
     text-transform: uppercase;
     text-decoration: none;
     color: orange;
}

#author {
     color: orange;
}

/*#main p:first-letter {
     font-size: 30pt;
     display: block;
     float: left;
     margin: 0 5px;
}
*/

/**sidebar**/

#sidebar h4 {
     text-transform: uppercase;
     margin-bottom: 0;
     font-size: 13px;
}

ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     line-height: 1.75;
     font-size: 13px;
}

/** main section **/

#container {
     width: 940px;
     margin: 0 auto;
}

#header {
     margin-bottom: 40px;
}

#main {
     background-color: #FFF;
     float: left;
     width: 620px;
     padding: 20px;
}

#sidebar {
     width: 220px;
     margin: 0 auto;
     background-color: #FFF;
     padding: 20px;
     line-height: 1.2;
     float: left;
     margin-left: 20px;
}

